@import _root_.java.sql.Timestamp
@import _root_.jp.co.nri.nefs.tool.log.common.model._
@(currentPage: Page[(Log, WindowDetail, Option[User])],
params: Params)(implicit request: play.api.mvc.RequestHeader, flash: play.api.mvc.Flash, messages: Messages)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    defining(newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(params.orderBy.getOrElse(1))) -params.orderBy.getOrElse(1) else orderBy
    }) { o =>
            routes.Application.list(params.copy(page=newPage,orderBy = o))
    }
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    @defining(params.orderBy.getOrElse(1)) { currentOrderBy =>
        <th class="col@title header @if(scala.math.abs(currentOrderBy) == orderBy) { @{if(currentOrderBy < 0) "headerSortUp" else "headerSortDown"} }">
            <a href="@link(0, Some(orderBy))">@title</a>
       </th>
    }
}

@main {
    
    <h1>@Messages("windowDetails.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }


        @helper.form(action=routes.Application.list(), args=Symbol("class") -> "form-inline") {
        <div class="form-group" style="display: inline-flex">
            <input type="search" id="searchbox1" name="logId" value="@params.logId" class="logId"/>
            <input type="search" id="searchbox2" name="appName" value="@params.appName" class="appName"/>
            <input type="search" id="searchbox3" name="computerName" value="@params.computerName" class="computerName"/>
            <input type="search" id="searchbox4" name="userId" value="@params.userName" class="userName"/>
            <input type="search" id="searchbox5" name="tradeDate" value="@params.tradeDate" class="tradeDate"/>
            <input type="search" id="searchbox6" name="lineNo" value="@params.lineNo" class="lineNo"/>
            <input type="search" id="searchbox7" name="activator" value="@params.activator" class="activator"/>
            <input type="search" id="searchbox8" name="windowName" value="@params.windowName" class="windowName"/>
            <input type="search" id="searchbox9" name="destinationType" value="@params.destinationType" class="destinationType"/>
            <input type="search" id="searchbox10" name="action" value="@params.action" class="action"/>
            <input type="search" id="searchbox11" name="method" value="@params.method" class="method"/>
            <input type="search" id="searchbox12" name="time" value="@params.time" class="time"/>
            <input type="search" id="searchbox13" name="startupTime" value="@params.startupTime" class="startupTime"/>
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary"/>
        </div>
        }


    @Option(currentPage.items).filterNot(_.isEmpty).map { logDetails =>
        
        <table class="windowDetails zebra-striped">
            <thead>
                <tr>
                    @header(1, "LogId")
                    @header(2, "AppName")
                    @header(3, "ComputerName")
                    @header(4, "UserName")
                    @header(5, "TradeDate")
                    @header(6, "LineNo")
                    @header(7, "Activator")
                    @header(8, "WindowName")
                    @header(9, "DestinationType")
                    @header(10, "Action")
                    @header(11, "Method")
                    @header(12, "Time")
                    @header(13, "StartupTime")
                </tr>
            </thead>
            <tbody>

                @logDetails.map {
                    case (loginfo, windowDetail, user) => {
                        <tr>
                            <td>@loginfo.logId</td>
                            <td>@loginfo.appName</td>
                            <td>@loginfo.computerName</td>
                            <td>@user.map(_.userName)</td>
                            <td>@loginfo.tradeDate</td>
                            <td>@windowDetail.lineNo</td>
                            <td>@windowDetail.activator</td>
                            <td>@windowDetail.windowName</td>
                            <td>@windowDetail.destinationType</td>
                            <td>@windowDetail.action</td>
                            <td>@windowDetail.method</td>
                            <td>@windowDetail.time.format("yyyy-MM-dd HH:mm:ss.SSS")</td>
                            <td>@windowDetail.startupTime</td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + logDetails.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

        
}

            