@(e9nId: Option[Int])(implicit request: play.api.mvc.RequestHeader)
@main("Exception Detail", E9N_DETAIL){
@helper.javascriptRouter("jsRoutes")(
    routes.javascript.Application.e9nDetailTable,
    routes.javascript.Application.fileDownload
)
<div id="e9n-store" data-e9ndata="@e9nId"></div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Exception Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Exception Detail</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="e9n-detail" class="table table-bordered table-hover table-sm">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>LogId</th>
                            <th>LineNo</th>
                            <th>AppName</th>
                            <th>UserName</th>
                            <th>Time</th>
                            <th>HeadMessage</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>LogId</th>
                            <th>LineNo</th>
                            <th>AppName</th>
                            <th>UserName</th>
                            <th>Time</th>
                            <th>HeadMessage</th>
                        </tr>
                        </tfoot>
                    </table>
                    </div> <!-- /.card-body-->
                </div> <!-- /.card-->
            </div> <!-- /.col-12-->
        </div> <!--/.row-->
    </section> <!--content-->
</div> <!--content-wrapper-->
}{
<script>
    var e9nId = $('#e9n-store').attr('data-e9ndata');
    $('#e9n-detail tfoot th').each(function(index) {
        var title = $(this).text();
        if (index == 0 && e9nId != '') {
            $(this).html('<input type="text" style="width:100%;" value= ' + e9nId + ' />');
        } else {
            $(this).html('<input type="text" style="width:100%;" />');
        }
    });
    /*
    hide the search box without disabling search
     https://datatables.net/forums/discussion/22511/can-you-hide-the-search-box-without-disabling-searching
    DOM positioning
     https://datatables.net/examples/basic_init/dom.html
    */
    var e9nDetailTable = $("#e9n-detail").DataTable({
        "dom": '<"top"l>rt<"bottom"ip>',
        "responsive": true,
        "scrollCollapse": false,
        "ordering": true,
        "autoWidth": false,
        "processing": true,
        "serverSide": true,
        "ajax": jsRoutes.controllers.Application.e9nDetailTable(),
        initComplete: function() {
            var api = this.api();

            // Apply the search
            api.columns().every(function() {
                var that = this;

                $('input', this.footer()).on('keyup change', function() {
                    if (that.search() != this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        },
        /*
        https://stackoverflow.com/questions/30489307/make-column-data-as-hyperlink-datatable-jquery/30489991
        */
        "columns": [
            { data: "e9n-id" },
            { data: "log-id",
              render: function(data, type, row, meta) {
                var r = jsRoutes.controllers.Application.fileDownload(data);
                if (type == 'display') {
                    data = '<a href="' + r.url + '">' + data + '</a>';
                }
                return data;
              }
            },
            { data: "line-no" },
            { data: "app-name" },
            { data: "user-name" },
            { data: "time" },
            { data: "message" }
        ],
        "columnDefs": [
            {targets: 0, width: 20},
            {targets: 1, width: 60},
            {targets: 2, width: 60},
            {targets: 3, width: 80},
            {targets: 4, width: 80},
            {targets: 5, width: 100}
        ],
        "lengthMenu": [[100, 500, 1000], [100, 500, 1000]],
        "deferLoading": true
    });
    e9nDetailTable.columns(0).search(e9nId);
    e9nDetailTable.draw();
</script>
}